
.boton-chat {
  background-color: white;
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: left;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  width: 100%;
}

.contenedor-mensajes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 368.4px;
    overflow: auto;
}

.usuario {
    font-size: 10px;
    font-weight: bold;
}

.fecha {
    font-size: 10px;
    color: gray;
    float: right;
    margin-bottom: 0px;
}

.contenedor-mensaje {
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    max-width: 350px;
}

.left {
    float: left;
    width: auto;
}

.right {
    width: auto;
    float: right;
}

.contenedor-mas-grande-chat {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 70%;
    margin: 0;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.contenedor-grande-chat {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #c0f6fa;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin: 0;
}


.contenedor-izq-chat {
    width: 18%;
    padding: 10px;
    background-color: #defdff;
    border-radius: 10px;
    margin: 0;
    margin-right: 10px;
}

.contenedor-der-chat {
    width: 80%;
    background-color: #defdff;
    border-radius: 10px;
    padding: 10px;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-chats-chat {
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.contenedor-emails-chat {
    height: 90%;
    margin-bottom: 0;
    overflow: auto;
}

.email-seleccionado {
    font-weight: bold;
    background-color: rgb(77, 72, 72);
    padding: 10px;
    color: aliceblue;
    border-radius: 10px;
}

.contenedor-enviar {
    width: 90%;
    margin-bottom: 0;
    display: flex;

    align-items: center;
    justify-content: center;
}

.input-texto-chat {
    width: 80%;
    height: 100%;
    font-size: 15px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.vacio-chat {
    width: 0px;
    height: 440px;
    margin-bottom: 0px;
}

.contenedor-vacio-chat {
    margin-bottom: 0px;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    
}

.contenedor-email-mensajes {
    width: 100%;
}

.boton-enviar-mensaje {
    padding: 0;
    border: none;
    margin: 0;
    background-color: transparent;
}

@media screen and (max-width: 1150px) {
    .boton-chat{
        font-size: 10px;
    }
    .contenedor-izq-chat{
        width: 20%;
    }
    .contenedor-der-chat{
        width: 78%;
    }
}

@media screen and (max-width: 700px) {
    .contenedor-mas-grande-chat{
        top: 22%;
    }
    
}

@media screen and (max-width:450px) {
    .contenedor-mas-grande-chat{
        top: 22%;
        left: 5% !important;
        width: 90%;
    }
    .contenedor-grande-chat{
        width: 100%;
    }
    .contenedor-der-chat{
        width: 60%;
    }
    .email-seleccionado{
        font-size: 12px;
    }
}

@media screen and (max-width:370px) {
    .contenedor-mas-grande-chat{
        top: 25%;
    }
    .contenedor-mensajes{
        height: 80%;
        overflow: scroll;
    }
}

@media screen and (max-width:330px) {
    .contenedor-mas-grande-chat{
        top: 27%;
    }
    .contenedor-mensajes{
        height: 80%;
        overflow: scroll;
    }
}