

.contenedor-feeback {
  position: absolute;
  top: 25%;
  left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.contenedor-feeback-chico {
  padding: 20px;
  border: solid 4px black;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

}

.titulo-feedback {
    font-weight: bold;
    font-size: 30px;
}

.mini-text-feeback {
    font-weight: bold;
    font-size: 10px;
}

.input-texto {
    width: 400px;
    height: 100px;
    resize: none;
}

.boton-feedback {
  float: right;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.boton-feedback:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.boton-feedback:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.boton-feedback:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .contenedor-feeback{
    position: absolute;
    top: 29%;
    width: 90%;
    left: 4%;
    height: 60%;
    display: flex;
    justify-content: center;

  }
  .contenedor-feeback-chico{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
  }
  .contenedor-feeback-chico form{
    width: 100%;
  }
  .input-texto{
    width: 98%;
    height: 150px;
  }
}

@media screen and (min-width: 501px) and (max-width: 700px){
  .contenedor-feeback{
    position: absolute;
    top: 29%;
    width: 90%;
    left: 4%;
    height: 60%;
    display: flex;
    justify-content: center;

  }
  .contenedor-feeback-chico{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-between;
  }
  .contenedor-feeback-chico form{
    width: 100%;
  }
  .input-texto{
    width: 98%;
    height: 200px;
  }
}