/* Estilo para el formulario */
form {
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 20px; /* Espaciado interior del formulario */
}

/* Estilo para cada par etiqueta-campo de entrada */
div {
    margin-bottom: 10px; /* Espaciado entre cada par etiqueta-campo de entrada */
}

/* Estilo para las etiquetas */
label {
    display: block; /* Hace que las etiquetas ocupen todo el ancho disponible */
    font-weight: bold; /* Texto en negrita para las etiquetas */
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="number"],
input[type="password"] {
    width: 100%; /* Los campos de entrada ocupan todo el ancho disponible */
    padding: 5px; /* Espaciado interior de los campos de entrada */
    border: 1px solid #ccc; /* Borde ligero alrededor de los campos de entrada */
    border-radius: 3px; /* Bordes redondeados */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
    width: auto;
}

.terminos-checkbox {
    display: inline;
}

/* Estilo para el botón de enviar */
input[type="submit"] {
    width: 100%; /* El botón ocupa todo el ancho disponible */
    padding: 10px; /* Espaciado interior del botón */
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde en el botón */
    border-radius: 3px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Cambiar el color del botón al pasar el cursor sobre él */
input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    color: black;
}

.contenedor-documentos {
    display: flex;
    flex-direction: row;
}

