/*.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: #97CADB;
}
*/
.header{
  display: block;
  margin: 0 0 0 0;
  margin-left: 0;
  padding: 0 0 0 0;
  height: 100%;
  width: 200px;
  writing-mode: vertical-lr;
  text-orientation: sideways;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .logo {
    width: 50px;
  }

  .title {
    font-size: 18px;
  }
}