.Home{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100vh;
}

.BloqueMid{
    width: 90%;
    height: 50%;
    position: absolute;
    top: 15%;
    margin: 0;
    padding: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.Frame1-Home{
    position: fixed;
    width: 100%;
    height: 12%;
    margin: 0;
    top: -1%;
    left: 0;
    rotate: 0.5deg;
    background: #64D3F8;
    z-index: 3;
}

.Frame2-Home{
    position: fixed;
    width: 100%;
    margin: 0;
    height: 13%;
    top: 0%;
    left: 0;
    rotate: 0.5deg;
    background: #64D3F87D;
    z-index: 2;
}
.Frame3-Home{
    position: fixed;
    width: 100%;
    height: 12%;
    margin: 0;
    bottom: -1%;
    left: 0;
    rotate: 0.5deg;
    background: #64D3F8;
    z-index: 3;
}

.Frame4-Home{
    position: fixed;
    width: 100%;
    margin: 0;
    height: 13%;
    bottom: 0%;
    left: 0;
    rotate: 0.5deg;
    background: #64D3F87D;
    z-index: 2;
}

.HeaderHome{
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0;
    left: 0;
    margin: 0;

    z-index: 5;
    background: none;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.botones-nav{
    margin: 0;
    width: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.HeaderHome h1{
    font-family: Bree Serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.4em;
    text-align: left;
    color: #FFFFFF;
    margin: 0;
}

.BloqueMid{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}

.BloqueMid h{
    color: #001B48;
}

.BloqueMidSub1{
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    display: flex;

    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.BloqueMidSub2{
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%;
    display: flex;

    align-items: flex-end;
    justify-content: center;

    text-align: center;
}

.logoHome{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 0.5em solid;
    border-color: #018ABE;
    background-color: #ffffff;

    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.logoHome:hover {
    opacity: 0.7;
    background-color: #9bd7eca1;
}

.LogoLogOut{
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 100%;
    background: #82dbf8;
    object-fit:fill;
}

.LogoLogOut:hover {
    opacity: 0.7;
    background-color: #384b52a1;
}

.modal{
    margin: 0;
    padding: 0;
    width: 150px;
    height: 100px;
    position: absolute;
}

.modal-content{
    background: #e2f5fc;
    padding: 10px;
    border: 3px solid;
    border-radius: 8%;
    border-color: #157499;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.premiun-bar{
    position: absolute;
    width: 30%;
    height: 5%;
    bottom: 3%;
    padding-left: 1%;
    left: 0;
    display: flex;
    align-items: center ;

    border-top-right-radius: 1dvh;
    border-bottom-right-radius: 1dvb;

    background: #0623B8;

    color: #fff;
    z-index: 9;

    appearance: button;
    box-sizing: border-box;
    cursor: pointer;
    font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 20px;
    touch-action: manipulation;
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    line-height: 1.15;
    overflow: visible;
}

.premiun-bar:disabled {
    opacity: .5;
}
  
.premiun-bar:focus {
    outline: 0;
}

.premiun-bar:hover {
    background-color: #0A46E4;
    border-color: #0A46E4;
}

.premiun-bar:active {
    background-color: #0039D7;
    border-color: #0039D7;
}

@media screen and (max-width: 500px) {
    .HeaderHome h1{
        font-size: 40px;
        letter-spacing: 0.1em;
    }
    .botones-nav{
        position: absolute;
        width: 100%;
        left: 0%;
        top: 140%;
        justify-content: space-between;
    }
    
    .LogoLogOut:hover {
        opacity: 0.9;
        background-color: #577580d7;
    }
    .BloqueMid{
        top: 20%;
        flex-direction: column;
        height: 60%;
        overflow: scroll;
        align-items: center;
    }
    .premiun-bar{
        position: fixed;
        width: auto;
        padding-right: 10px;
    }
    .modal{
        top: 107% !important;
        left: 60% !important ;
    }
}

@media screen and (min-width: 501px) and (max-width: 700px){
    .HeaderHome h1{
        letter-spacing: 0.2em;
    }
    .botones-nav{
        width: auto;
    }
    .BloqueMid{
        height: 60%;
    }
}

@media screen and (max-width: 375px){
    .premiun-bar{
        font-size: 15px !important;
        width: auto;
        padding-right: 10px;
    }
}